{% extends 'base.html' %} 
{% block title %}500. Проблема на сервере.{% endblock %}
{% block content %}
<main>
    <section class="container my-5 px-4">
      <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
      <div class="container">
        <div class="row ">
          <div class="col-sm">
          </div>
          <div class="col-sm">
            <p class="text-center">
            <h5 class="text-center">
                На сервере возникла проблема. Попробуйте позже
            </h5>  
            </p>
          </div>
          <div class="col-sm">
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %} 